<form class="ezd6-sheet-form" autocomplete="off">
  <div class="ezd6-sheet-root"></div>
  <div class="ezd6-section-block">
    <div class="ezd6-section__title">Description</div>
    <section class="ezd6-section ezd6-section--description">
      <div class="ezd6-description-wrap">
        {{editor system.description target="system.description" button=editable editable=editable owner=owner}}
        <div class="ezd6-description-view">{{{system.description}}}</div>
      </div>
      <div class="ezd6-description-spacer"></div>
    </section>
  </div>
</form>
